
//Construccion


/*------------------------------------------------------------------------------------------------Pag Construcción */

.construccionImg{
    padding: 0;
    
    align-items: center;
    text-align: center;

    img{

        width: 70%;
        align-items: center;
       


    }
}

/*------------------------------------------------------------------------------------------------Fin Pag Construcción */