

//HEADER


/*------------------------------------------------------------------------------------------------HEADER */


header{ 

   .myNav{    
        padding: 0;

        .myContenedorNav1{
            
            background: map-get($FondoColorGeneral, FondoHed);
            .campLogP{
                padding: 0 ;
                .myImgLogo{

                    height: 100px;
                    
            
                    &:hover{transition: 0.5s;
                        transform: scale(1.2);
                    }
                    &:active{transition: 0.2s;
                        transform: scale(0.5);
                    }
                }
                
            }
    
            //contenedor de navBar
            .myContenedorNav{
            
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: space-evenly;
                flex-wrap: wrap;
                
    
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
            
                //Ul lista de navBar
                .myNavList{

                    display: flex;
    
                    li{
                    
                        &:hover{
                            scale: 1.1;
                            transition: 0.5s;
                            color: rgb(128, 193, 26) ;
                        }
                    
    
                        a{
                            font-family: $fuente-estiloB;
                            color: $color-tituloheader;
                            font-size: 1rem;
                            display:flex;
                            justify-self:center;
                            font-weight: bold;

                        }
                    }
                
                }
            
    
                //buscador
    
                .barraBusqueda{
                    position: relative;
                    flex-wrap: wrap;
                    padding-top: 1rem;
                    width: 90px;
                    padding: 0.5rem;
                    border-radius: 100px;
                    color: #424242;
                    background: linear-gradient(#b1b1b1, #f5f5f5);
                    
    
                    &:focus {
                        width: 150px;
                        -webkit-transition: width 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out;
                        text-align: left;
                    }
    
                }
    
                .botonBuscar{
                   
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 90px;
                    
                    background-image: url(../imagen/searchicon.webp);
                    background-color: #123649;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding: 12px 20px 6px 20px;
                }
    
                
    
                
            }

        }
    }    
    
}




/*------------------------------------------------------------------------------------------------FIN DE HEADER */