

//MEDIA QUERY


/*-----------------------------------------------------------------------------------------------------MEDIA QUERY*/


@media (min-width:320px) and (max-width:1080px) and (min-height: 240px) {

 header{
   .myNav{
        .myContenedorNav1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .botonHamburg{
                margin-bottom: 10px;
            }

            .myContenedorNav{
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding-bottom: 10px;
            }

        }

    }
    
    
    
    


 

    .quienSomos{

        div{
            
            img{
                margin-left: 0;
            }
        }
        
        
    }


        
    }

    .tituloPrincipal{
        .shadown{

            div{
                align-items: center;
            }

        } 
        
    }
    


    .clientes .carousel-inner {
        padding: 30px;
        width: 85%;
        
    }

    .carousel-control-next-icon{
        padding: 1rem;
    }

    .carousel-control-prev-icon{
        padding: 1rem;
    }
    


}


   





/*-----------------------------------------------------------------------------------------------------FIN MEDIA QUERY*/




