

//MEDIA QUERY


/*-----------------------------------------------------------------------------------------------------MEDIA QUERY*/


@media (min-width:200px) and (max-width: 991px) and (min-height: 240px) {

 header{
   .myNav{
        .myContenedorNav1{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        

            .imgD{
                
                
                text-align: center;
            }
            div{
                
                text-align: center;
                margin-top: 5px;

                .botonHamburg{
                    margin-bottom: 10px;

                }

            }
          
            .myContenedorNav{
                align-items: center;
                padding-bottom: 10px;
                flex-wrap: wrap;
                justify-content: flex-start;
            }

        }

    }
    
    
    
    


 

    .quienSomos{

        div{
            
            img{
                margin-left: 0;
            }
        }
        
        
    }


        
    }

    .tituloPrincipal{
        .shadown{

            div{
                align-items: center;
            }

        } 
        
    }
    


    .clientes .carousel-inner {
        margin-top: 30px;
    
        width: 86%;
        
    }

    .carousel-control-next-icon{
        padding: 1rem;
    }

    .carousel-control-prev-icon{
        padding: 1rem;
    }
    


}


   





/*-----------------------------------------------------------------------------------------------------FIN MEDIA QUERY*/




