

//Portada pagina secundaria




/*----------------------------------------------------------------------------------Portada paginas*/ 


.tituloPrincipal{

    background-image: url(../imagen/mantenimiento-naves-banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    width: 100%;
    height: 23rem;
    display: flex;
    padding: 0;

    .shadown{
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
    
        div{

            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            height: 100%;
            align-items: flex-start;
            
            
            h1{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 2rem;
                color: $color-tituloh1;
                text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;                
                text-align: center;
                width: 50%;
                text-transform: uppercase;
                font-style: $fuente-estilobase;

               
                
            
            
            }

            .animate__animated.animate__fadeIn{
                --animate-duration: 5s;
            }

            h2{
                display: flex;
                flex-wrap: wrap;
                color: rgb(196, 196, 196);
                text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
                font-size: 1.9rem;
                width: 50%;
                text-align: center;
                justify-content: center;
                align-items: center;

        
                

            }
            .animate__animated.animate__fadeInDown{
                --animate-duration: 2.1s;
            }
        }        
    }
}






.tituloPagSecSegundo{
    padding: 0;
    
    .tituloPaginaSecundaria{
        background: url(../imagen/HomeLOMBARDI-31.webp) no-repeat fixed;
        height: 18rem;
        justify-content: center;
        top: 0;
        background-position-x: 50%;
        background-position-y: 0;
        

        h1{
            padding-top: 7rem;
            height: auto;
            margin: auto;
            padding: auto;
            
            text-align: center;
            text-transform: uppercase;
            color: $color-tituloh1;   
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 2.6rem;
            text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
        }

        .animate__animated.animate__fadeIn{
            --animate-duration: 5s;
        }


    }
}

/*----------------------------------------------------------------------------------FIN Portada paginas*/




