

//Portada pagina secundaria




/*----------------------------------------------------------------------------------Portada paginas Secundarias*/
.tituloPaginaSecundaria{
    background: url(../imagen/HomeLOMBARDI-31.jpg) no-repeat fixed;
    height: 18rem;
    justify-content: center;
    top: 0;
    background-position-x: 50%;
    background-position-y: 0;

    h1{
        padding-top: 7rem;
        height: auto;
        margin: auto;
        padding: auto;
        display: inline-bloc;
        text-align: center;
        text-transform: uppercase;
        color: $color-tituloSecundarioh1;   
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2.6rem;
        text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
    }

    .animate__animated.animate__fadeIn{
        --animate-duration: 5s;
    }


}

/*----------------------------------------------------------------------------------FIN Portada paginas Secundarias*/




