

//VARIABLES Y MAPAS



//------------------------------------------------------------------------------------------------Variables

//De aqui se puede gestionar los  el estilo de la pagina.

$fuente-estilobase: 'Lato', sans-serif;

$fuente-estiloA: 400 0.875rem/1.75rem "Roboto", sans-serif;

$fuente-estiloB: 'Lato', sans-serif;

$color-tituloh1: #fff;

$color-tituloheader: #a7a7a7;

$color-linkshoverA: rgb(0, 147, 221);

$color-linksMenuMapa:#888888;

$color-tituloMenuMap: wheat;

$color-linkshoverB:#ffc75f;

$color-linkshoverC: #80c11a;

$color-titulofondoB:wheat;

$color-titulofondoA:black;

//------------------------------------------------------------------------------------------------FIN Variables

//------------------------------------------------------------------------------------------------ MAP GET


$estilobase: (colorTextoBase: #333, fuenteTamañoBase: 16px );

$FondoColorGeneral: (FondoA:rgb(255, 255, 255), FondoB:linear-gradient(0deg, #1e1e1e, #3a3734), FondoC:white,
FondoD: linear-gradient(to right top, rgb(11, 31, 42), rgb(68, 100, 148)) rgb(11, 31, 42),
FondoHed:linear-gradient(#252525, #353535));

//------------------------------------------------------------------------------------------------FIN MAP GET


