

//VARIABLES Y MAPAS



//------------------------------------------------------------------------------------------------Variables



$fuente-estilobase: 'Lato', sans-serif;

$fuente-estiloA: 400 0.875rem/1.75rem "Roboto", sans-serif;

$fuente-estiloB: 'Lato', sans-serif;

$color-tituloSecundarioh1: #fff;

$color-tituloheader:#acb336;

$color-linkshoverA: rgb(0, 147, 221);

$color-linksMenuMapa:#888888;

$color-tituloMenuMap: wheat;

$color-linkshoverB:#ffc75f;

$color-linkshoverC: #80c11a;

$color-titulofondoB:wheat;

$color-titulofondoA:black;

//------------------------------------------------------------------------------------------------FIN Variables

//------------------------------------------------------------------------------------------------ MAP GET


$estilobase: (colorTextoBase: #333, fuenteTamañoBase: 16px );

$FondoColorGeneral: (FondoA:rgb(255, 255, 255), FondoB:linear-gradient(0deg, #403d39, rgb(58, 55, 52)), FondoC:white,
FondoD: linear-gradient(to right top, rgb(11, 31, 42), rgb(68, 100, 148)) rgb(11, 31, 42) );

//------------------------------------------------------------------------------------------------FIN MAPAS