
//PRINCIPAL



@import "variablesMapas";



@import "mixinextend";
@import "base";



@import "header";

@import "footer";

@import"portadaPaginas";

@import "carrusel";

@import "novedadesVideo";

@import "entidadesReg";

@import "formularioContacto";

@import "condicional";

@import "construccion";











/* -----------------------------------------------------------------------------------------HTML Index */


.linkAcceso{
    
    display: flex;
    color: rgb(136, 136, 136);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    background: map-get($FondoColorGeneral, FondoB);
    

    div{

        object-fit: contain;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 3rem;
        a{ 
            text-decoration: none;
            list-style: none;
            color:  rgb(62, 115, 115);

            &:hover{
                transition: 0.5s;
                transform: scale(1.2);
    
            }
    
            &:active{
                transition: 0.2s;
                transform: scale(0.5);
            }
            img{
                filter:  sepia(85%);
                width: 5rem;
                height: 6rem;
                text-align: center;
                padding-bottom: 1rem;

                &:hover{
                    transition: 0.5s;
                    transform: scale(1.2);
        
                }
        
                &:active{
                    transition: 0.2s;
                    transform: scale(0.5);
                }
            }
        }

    

        p{
            height: auto;
            
            font-weight: bold;
            font-size: 0.9rem;
        }

        h2{
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #f5deb38a;
        }
        
    }
   
}



.clientes{
    
    background-color: map-get($FondoColorGeneral, FondoC );
    text-align: center;
    text-transform: uppercase;
    height: 240px;


    h2{
        color: $color-titulofondoA;
        margin-top: 2rem;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 1.5;
    }


    .carousel-inner{

        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;

        .carousel-item{

            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                
               
            }

        }
        



        
    }
  
         
        


    
   
    
   
}





/* -----------------------------------------------------------------------------------------FIN HTML Index */

/* -------------------------------------------------------------------------------------------------------HTML Quienes somos */
.seccionQuienesSomos{
    background-image: linear-gradient(white, #888888);
    
    .quienSomos{
            
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 5rem;

        div{
           padding-left: 1rem;
            h2{
                margin-bottom: 50px;
                text-align: center;
            }

            blockquote{
                border-left: 5px solid rgb(192, 5, 5);

                text-align: justify;
                line-height: 1.6;
                font-size: 1.1rem;
                max-width: 38rem;
                padding-left: 1rem;
                margin: 0 1rem 0 0;

                &::first-letter{
                    font-weight: bold;
                    font-size: 1.7rem;
                    display: flex;
                    
                }
            }
            
            
            
            p{

                text-align: justify;
                line-height: 1.6;
                font-size: 1.1rem;
                max-width: 38rem;
                margin: 1rem;
               

                   
                
               
            }
        }

        div{
            img{

                border-radius: 2rem;
                
            }

        }
    }

    


    .buttonC {
        
        padding-top: 60px;
        display: block;
        text-align: center;

        a{
            img{
                &:hover{
                    transition: 0.5s;
                    filter: sepia(25%);
                    transform: scale(1.1);
                    
                }
                
                &:active{
                    transition: 0.5s;
                    transform: scale(0.5);
                }

            }
        }
    
    }

}

/* -------------------------------------------------------------------------------------------------------FIN HTML Quienes somos */

/*--------------------------------------------------------------------------------------------- HTML Servicios*/



.serviciosPag{
    padding-top: 20px;
    text-align: left;
    padding-bottom: 40px;
    background-image: linear-gradient(white, rgb(136, 136, 136) );

    h2{
        text-align: center;
        padding-bottom: 1rem;
    }
    

}


.seH{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.meD{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.card{
    margin-bottom: 1rem;
    padding-bottom: 16px;
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.75);
    margin-top: 20px;
    background: #2c2c2ced;;
    

    img{
        height: 210px;
        width: 100%;
    }

    .card-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        h3{
            color: rgb(205, 205, 205);
            font-weight: 700;
        }
        .card-text{
            color:rgb(181, 181, 181);
        }
    }
    
}


.publicidad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(white, rgb(136, 136, 136) );
    padding-top: 10px;

    img{
        width: 40%;
        height: 100%;
        padding-bottom: 10px;
    }
}




/*---------------------------------------------------------------------------------------------FIN HTML Servicios*/

/* -----------------------------------------------------------------------------------------HTML Legislacion */

.normativasLegislacion{
    display: flex;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2rem;
    flex-direction: column;
    flex-wrap: wrap;

    nav{
    
        text-align: center;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            h2{
                text-align: left;
                padding-top: 20px;
                
                width: 15rem;
            }

            ul{
                
                li{
                    text-decoration: none;
                    list-style: none;
                    text-align: left;
                    a{
                        font-family: $fuente-estiloA;
                        
                        padding-bottom: 20px;
                        padding-top: 20px;
                        text-decoration: none;
                        list-style: none;
                        color: black;
                    
                        &:hover{
                            transition: 0.5s;
                            color: $color-linkshoverA;
                        }
                    }

                }
            }

          
            
        }
        
    }
}

/* -----------------------------------------------------------------------------------------FIN HTML Legislacion */

/* --------------------------------------------------------------------------------------------------HTML Contacto */

.infoContact{
    background-image: linear-gradient(white, #888888);
    padding: 0;
    
    .EmpresaContacto{
   

        
        .infoEmpresa{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            

          

            h2{
                font-weight: bold;
                margin-top: 20px;
                font-size: 1.8rem;
               
            }
            

         
            .datosEmpresa{
            margin-top: 20px;
             margin-bottom: 30px;

                h3{
                    font-size: 1.4rem;
                    
                }
            }

        }



        .mapaGoogle{
           
            width: 90%;
            height: 15rem
           
        }





    }
}


/* --------------------------------------------------------------------------------------------------FIN HTML Contacto */




//MediaQuery (se recomienda al final)
@import "mediaQuery";


 